*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: red; */
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background-image: url("/images/pc.jpg"), linear-gradient(#b9abb5, #d13531);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.header {
  color: blue;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-left: 5rem;
}

.header__nav-links {
  list-style-type: none;
  display: flex;
}

.header__nav-links--item a {
  text-decoration: none;
  color: rgba(213, 41, 64, 0.898);
  font-weight: bold;
  padding: 0 2rem;
  margin: 0.5rem;
  position: relative;
  z-index: 100;
}

.hero__picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: 2px 2px 10px black;
}

.hero__picture-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.hero__detail {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
}

.hero__detail a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  line-height: 3rem;
  border-radius: 4px;
  color: white;
  background-color: green;
}

.hero__detail a:hover {
  background-color: yellow;
  color: black;
}

.information {
  padding: 5rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.information__about-text {
  line-height: 1.7rem;
  text-align: justify;
}

.information__information-basic p {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  justify-content: space-between;
}

.information__information-basic span {
  font-weight: normal;
}

.skills {
  padding: 5rem;
}

.skills__title {
  text-align: center;
}

.skills .html {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills progress {
  width: 80%;
  margin: 1rem auto;
}
.progresses {
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

h3 > span {
  margin-left: 5rem;
  color: red;
}

.education {
  padding: 5rem;
}

.education__title {
  text-align: center;
  margin-bottom: 4rem;
}

.higher,
.higher1,
.high {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.higher h3,
.higher1 h3,
.high h3 {
  display: flex;
  justify-content: space-between;
}

.experience {
  padding: 5rem;
}

.experience__title {
  text-align: center;
  margin-bottom: 2rem;
}

.experience__main {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

.experience__list {
  list-style-type: circle;
  padding: 1.3rem;
}

.experience__list li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.training {
  padding: 5rem;
  text-align: center;
}

.training h1 {
  margin-bottom: 3rem;
}

.training > p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form__title {
  text-align: center;
}

.form__message img {
  display: block;
  margin-top: 1rem;
}
.form__message {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding: 2rem;
  background-color: rgb(107, 103, 103);
}

form {
  box-shadow: 2px 3px 5px black;
  margin: 0rem auto;
  padding-bottom: 2rem;
  width: 50%;
}

form input {
  display: block;
  width: 80%;
  margin: 0rem 2.75rem;
  padding: 1rem 0;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid black;
}
form textarea {
  display: block;
  margin: 2rem 2.75rem;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid black;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.25rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 3.125rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: #017f8a;
  color: #fff;
}
.submit:hover {
  cursor: pointer;
  background-color: #c19d38;
}
.submit:focus {
  background-color: #19d895;
}

.footer {
  margin-top: 3rem;
  padding: 1rem 5rem;
  color: white;
  background-color: rgb(107, 103, 103);
}

.footer p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer img {
  margin-left: 0.3rem;
  display: block;
}

/* Sumbite */
.wrapper-sumbit {
  border-radius: 8px;
  max-width: 300px;
  height: 300px;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  box-shadow: 2px 3px 5px black;
}

.wrapper-sumbit p {
  padding-top: 100px;
  margin-bottom: 2rem;
}

.wrapper-sumbit a {
  text-decoration: none;
  color: #d13531;
}
